<!DOCTYPE html>
<html>
    <head>
        <title>Universal Recommender System</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="titlebar">
            <h1><b>Universal Recommendation System</b></h1>
        </div>
        <div id="main_space">
                <form action="" method="post" enctype="multipart/form-data">
                    <label>Choose the item for which I can serve you</label><br>
                    <input list="items" name=""><br>
                    <datalist id="items">
                        <option value="Movies"></option>
                        <option value="Books"></option>
                        <option value="Fashion"></option>
                    </datalist>
                    <input type="submit" name="" value="Recommend">
                </form>
        </div>
    </body>
</html>